<ion-view>
    <ion-content>
        <div class="list">
            <div class="item">
                <strong>Email</strong>
                <p class="text-ajustment">{{vm.deviceData.email}}</p>
            </div>
            <div class="item">
                <strong>IMEI</strong>
                <p class="text-ajustment">{{vm.deviceData.imei}}</p>
            </div>
            <div class="item">
                <strong>Plataforma</strong>
                <p class="text-ajustment">{{vm.deviceData.platform}}</p>
            </div>
            <div class="item">
                <strong>Versão</strong>
                <p class="text-ajustment">{{vm.deviceData.version}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>