<ion-modal-view class="bg-primary">

    <ion-content class="padding-5 text-center margin-top-10 ">
        <img src="img/logotipo.png" class="logotipo">
        <h1 class="title-localizador">Localizador</h1>

        <div ng-include="'js/modules/login/view/_form.html'" ng-if="!vm.newuser && !vm.enableformforgot"></div>
        <div ng-include="'js/modules/login/view/_newuser.html'" ng-if="vm.newuser && !vm.enableformforgot"></div>
        <div ng-include="'js/modules/login/view/_forgotpass.html'" ng-if="vm.enableformforgot"></div>

    </ion-content>
</ion-modal-view>